body {
  background-color: #eee;
  margin: 0;
  padding: 50px;
  width: 100vw;
  height: 100vh;
  font-family: Helvetica, sans-serif;
}

ul {
  padding: auto;
  list-style: lower-roman;
}

h1 {
  font-weight: 100;
}
