body {
  margin: 0;
  /*padding: 50px;*/
  width: 100vw;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  font-size: 5.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  opacity: 0.8;
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  background-color: yellow;
  margin: 0;
}

